
.colornav{
    background-color: rgb(15, 147, 234) !important;
}
h1{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    align-items: center;
}
.seccion{
    width: 100%;
    min-height: 500px;
    padding: 2rem;
}
footer{
    background-color: white;
}
h2{
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgb(15, 147, 234) !important;
}
